<div class="INICIO-SESION-Knowlegde-center">
        <div id="logindiv">    
            <img src="../../assets/logo-satrack-full-color.png"
                 srcset="../../assets/logo-satrack-full-color@2x.png 2x, ../../assets/logo-satrack-full-color@3x.png 3x"
                 class="logo-satrack_full_color">
            <p class="Bienvenido-de-nuevo">
                Bienvenido de nuevo a Knowlegde Center
            </p>
            <p class="Ingresa-con-tu-cuenta">
                Ingresa con tu cuenta para aprender mas
            </p>
            <button class="Rectangle-Copy-5" (click)="signIn()">
                <span class="INICIAR-SESIN-CON">Iniciar sesion con               </span>
                <img src="../../assets/combined-shape.png"
                     class="Combined-Shape">
            </button>
        </div>

</div>



